/// <reference path='../_reference.scss' />

.button {
    background: $button-default-background;
    border-radius: 3px;
    color: $button-default-color;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: rem-calc($button-font-size);
    font-family: $button-font-family;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: $button-transition;

    $button: &;

    &__icon {
        display: inline-block;
        height: $button-font-size * 1.5;
        margin-right: $button-font-size * .5;
        vertical-align: middle;
        width: $button-font-size * 1.5;
        line-height: $button-font-size * 1.25;

        > svg {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &--ghost {
        background-color: transparent;
        border: 1px solid $button-default-background;
    }

    &--block {
        display: block;
        font-size: rem-calc(18);
        margin-bottom: rem-calc(20);
        text-align: center;
        width: 100%;
    }

    &--small {
        font-size: rem-calc(14);
        padding: 10px 30px;
    }

    &:hover {
        background-color: $button-default-background-hover;
        color: $button-default-color-hover;

        &#{$button}--ghost {
            background-color: transparent;
            border-color: $button-default-background-hover;
        }
    }

    &:active, &:focus {
        color: $button-default-color-hover;
    }

    //
    // Create button variants
    @each $key, $val in $button-variants {
        &--#{$key} {
            background: map-get($val, default);
            color: map-deep-get($colors, 'white', 'default');

            &#{$button}--ghost {
                background-color: transparent;
                border: 1px solid map-get($val, default);
                color: map-get($val, default);
            }

            &:hover {
                background: rgba(map-get($val, hover), .8);
                color: map-deep-get($colors, 'white', 'default');

                &#{$button}--ghost {
                    background-color: transparent;
                    border: 1px solid rgba(map-get($val, hover), .8);
                    color: map-get($val, default);
                }
            }
        }
    }

    //
    // Create classes for default color variants
    @if $button-create-color-variants {
        @each $key, $val in $colors {
            &--#{$key} {
                background: map-get($val, default);

                &#{$button}--ghost {
                    background-color: transparent;
                    border: 1px solid map-get($val, default);
                    color: map-get($val, default);
                }

                &#{$button}--transparent {
                    border: none;
                }

                &:hover {
                    background: rgba(map-get($val, default), .8);

                    &#{$button}--ghost {
                        background-color: transparent;
                        border: 1px solid rgba(map-get($val, default), .8);
                        color: map-get($val, default);
                    }

                    &#{$button}--transparent {
                        border: none;
                    }
                }
            }
        }
    }

    &--transparent {
        border: none;
    }
}
