//
// Typography

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

//
// Breakpoints
// Make sure these are the same as the grid system breakpoints!
$breakpoints: ( 'sm': 0, 'md': 640px, 'lg': 1024px, 'xl': 1200px, 'xxl': 1440px, );

//
// Colors
$colors: (
    'black': ('dark': darken(#030303, 5%), 'default': #030303, 'light': lighten(#030303, 5%)),
    'blue': ('dark': darken(#2a86e1, 5%), 'default': #2a86e1, 'light': lighten(#2a86e1, 10%)),
    'grey': ( 'darkest': darken(#f7f8f9, 50%), 'darker': darken(#f7f8f9, 20%), 'dark': darken(#f7f8f9, 8%), 'default': #f7f8f9, 'light': lighten(#f7f8f9, 1%) ),
    'white': ('dark': #eeeeee, 'default': #ffffff, 'light': #ffffff)
);

$color-text-grey: #374450;
$color-text-grey-light: #556a7d;
$color-header: $color-text-grey;
$color-header-alternate: map-deep-get($colors, 'blue', 'default');
$color-anchor: map-deep-get($colors, 'blue', 'default');
$color-anchor-hover: map-deep-get($colors, 'blue', 'light');
$color-anchor-focus: map-deep-get($colors, 'blue', 'default');
$color-border: map-deep-get($colors, 'grey', 'dark');

//
// Transition defaults
$transition-default-smoothing: cubic-bezier(.23, 1, .32, 1);
$transition-default-time: .2s;
$transition-default: all $transition-default-time $transition-default-smoothing;

//
// Button Variables
// Create variants of buttons
$button-color-variants: $colors;
$button-create-color-variants: true;

// Button Defaults
$button-default-background: map-deep-get($colors, 'grey', 'darker');
$button-default-background-hover: map-deep-get($colors, 'blue', 'default');
$button-default-color: map-deep-get($colors, 'blue', 'default');
$button-default-color-hover: map-deep-get($colors, 'blue', 'default');

$button-font-family: $font-family;
$button-font-size: rem-calc(14);
$button-transition: $transition-default;
$button-variants: (
    'inactive': ( 'default': $button-default-background, 'hover': $button-default-background-hover ),
    'error': ( 'default': map-deep-get($colors, 'blue', 'default'), 'hover': map-deep-get($colors, 'blue', 'light') ),
    'warning': ( 'default': map-deep-get($colors, 'blue', 'default'), 'hover': map-deep-get($colors, 'blue', 'light') ),
    'success': ( 'default': map-deep-get($colors, 'blue', 'default'), 'hover': map-deep-get($colors, 'blue', 'light') )
);

//
// Alert Variables
$alert-default-background: map-deep-get($colors, 'grey', 'default');
$alert-default-color: $color-text-grey;
$alert-default-close-color: map-deep-get($colors, 'white', 'default');

//
// Badge Variables
$badge-default-background: map-deep-get($colors, 'grey', 'dark');
$badge-default-color: $color-text-grey;
$badge-default-letter-spacing: 1px;
$badge-default-text-transform: uppercase;

// Sidebar Variables
$sidebar-link-background-hover: #ffffff;
$sidebar-width: 330px;
