.grid {
  display: flex;
  flex-wrap: wrap;
  padding: ($grid-spacing-rows / 2) ($grid-spacing-columns / 2);
  overflow: hidden;

  &__col {
    float: left;
    padding: ($grid-spacing-rows / 2) ($grid-spacing-columns / 2);
    box-sizing: border-box;
  }

  @supports (display: grid) {
    @include display-grid;
    flex-wrap: unset;
    grid-template-columns: repeat(#{$grid-columns}, 1fr);
    grid-row-gap: $grid-spacing-rows;
    grid-column-gap: $grid-spacing-columns;
    padding: $grid-spacing-columns;

    &__col {
      float: none;
      padding: 0;
    }
  }

  @for $i from 1 through ($grid-columns) {

    &__colSpan-#{$i} {
      width: ($i / $grid-columns * 100%);
    }

    @supports (display: grid) {

      &__colStart-#{$i} {
        grid-column-start: $i;
      }

      &__colEnd-#{$i} {
        grid-column-end: $i;
      }

      &__colSpan-#{$i} {
        grid-column-end: span $i;
        flex-basis: unset;
        width: unset;
      }

      &__colEnd-#{$i} {
        grid-column-end: $i;
      }

      @for $i from 1 through $grid-rows {
        &__rowStart-#{$i} {
          grid-row-start: $i;
        }

        &__rowSpan-#{$i} {
          grid-row-end: span $i;
        }

        &__rowEnd-#{$i} {
          grid-row-end: $i;
        }
      }
    }
  }

  @each $sizeLabel, $value in $sizes {

    //Implement Media query class definitions
    @media only screen and (min-width: #{$value}) {

      @for $i from 1 through $grid-columns {

        &__colSpan-#{$i}--#{$sizeLabel} {
          width: ($i / $grid-columns * 100%);
        }

        @supports (display: grid) {

          &__colStart-#{$i}--#{$sizeLabel} {
            grid-column-start: $i;
          }

          &__colEnd-#{$i}--#{$sizeLabel} {
            grid-column-end: $i;
          }

          &__colSpan-#{$i}--#{$sizeLabel} {
            grid-column-end: span $i;
            width: unset;
          }

          &__colEnd-#{$i}--#{$sizeLabel} {
            grid-column-end: $i;
          }

          &__col--offset-#{$i} {
            margin-left: ($i / $grid-columns * 100%);
          }

          @for $i from 1 through $grid-rows {
            &__rowStart-#{$i}--#{$sizeLabel} {
              grid-row-start: $i;
            }

            &__rowSpan-#{$i}--#{$sizeLabel} {
              grid-row-end: span $i;
            }

            &__rowEnd-#{$i}--#{$sizeLabel} {
              grid-row-end: $i;
            }
          }
        }
      }
    }
  }
}